
@{
    ViewBag.Title = "salepaged";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="salepagebg">
<h1 class="headbas">YOUR BASKET</h1>
    <div class="salebg">
        <form action="~/home/buy" method="post">

            <div class="salei">
                <img class="saleimg" src="https://previews.123rf.com/images/kurhan/kurhan1501/kurhan150101056/35701455-construction-worker-in-new-house-.jpg"/>
            </div>
        
            <button class="btn btn-success">Buy first</button>
            <button class="btn btn-danger">Remove from basket</button>
        </form>
    </div>

</div>
