
@{
    ViewBag.Title = "traps";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="container">
    <div class="navbarimg">
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark p-3 secimnavbar">
        <a class="navbar-brand iconbrend" href="indexmain">MM</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="popmain">Pop</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Hip-Hop
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item dropdownad" href="oldsch">Old School</a>
                    <a class="dropdown-item dropdownad" href="traps">Trap</a>
                    <a class="dropdown-item dropdownad" href="#">Drill</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Contact
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item dropdownad" href="../../home/community">Place your track</a>
                    <a class="dropdown-item dropdownad" href="cooperation">Cooperation</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sale">Sale Hotlist</a>
            </li>
        </ul>
    </nav>

    <div class="news">
        <div class="platinform">
          
        </div>
